* {
	padding: 0;
	box-sizing: border-box;
	margin: 0;
}

button {
	cursor: pointer;
	background: none;
	border: none;
	font: inherit;
}

input {
	font: inherit;
	cursor: pointer;
}

h1,h2,h3 {
	font-weight: normal;
}