:root {
	--padding: 0.5em;
	--margin: 0.5em;

	--component-blue: #B0CDEB;
	--component-orange: #FAB8A0;
	--component-yellow: #F1E2AD;
	--component-pink: #E39ABC;
	--component-green: #BCD7A7;

	--header-background: #9D92A0;
	--body-background: #6F6572;
	--footer-background: #504754;

	--score-wrong: 	#ce5757;
	--score-correct: #59b459;
	--score-between: #dfbb1b;

	--blue-light-bg: #FFF;
	--blue-dark: #FFF;

	--orange-light-bg: #FFF6F2;
	--orange-dark: #844C37;

	--yellow-light-bg: #FFF;
	--yellow-dark: #FFF;

	--pink-light-bg: #FFF8FB;
	--pink-dark: #58414C;
	--pink-solid-border: #8B6376 solid 4px;
	--pink-dashed-border: #CEB4C5 dashed 2px;

	--green-light-bg: #FAFFF5;
	--green-dark: #587641;
}